node_modules
.next
.env
.env.local
.env.production
.env.prod-sync
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml
.DS_Store

import/*.xlsx
import/*.xls

incoming-tilda/*.zip
backups/tilda/

coverage